{% extends 'base.html' %}
{% load static %}
{% block header %}
    {{block.super}}-{{article.title}}
{% endblock %}
{% block content%}
    <!-- <br>
    <br>
    <div class="ui raised very padded text container segment">
        <h2 class="ui header" style="text-align: center;">{{article.title}}</h2>
        <h3 class="ui header" style="text-align: center;">By :- {{article.author}}</h3>
        <p>
            {{article.body}}
        </p>
        
    </div> -->
    <h1>{{article.title}}</h1>
    <small>By:{{article.author}} - {{article.created_at}}</small>
    <!-- {{posts.author.id}} -->
    <br>
    <small>
        {% if user.is_authenticated %}
                        {% if user.id == article.author.id %}
                            <a href="{% url 'update_post' article.pk%}">(Edit)</a>
                            <a href="{% url 'delete_post' article.pk%}">(Delete)</a>
                        {% endif %}
        {% endif %}
    </small>
    <hr>
    <br>
    {% autoescape off %}
    {% if article.header_image %}
        <img src="{{article.header_image.url}}" alt="">
        <br>
        <br>
    {% endif %}
    {{article.body|safe}}
    {% endautoescape %}
    <br><br>
    <form action="{% url 'like_post' article.pk %}" method="post" name="postid" value="{{article.id}}">
        {% csrf_token %}
            {% if user.is_authenticated %}
                {% if liked %}
                    <button type="submit" class="btn btn-danger">Unlike</button>
                {% else %}
                    <button type="submit" class="btn btn-info">Like</button>
                {% endif %}
            {% else %}
                <h5><a href="{% url 'login' %}">Login</a> To Like The Post</h5>
            {% endif %}
        -{{total_likes}} Likes
    </form>
    <hr>
    <br>
    <h2>About The Author</h2>
    <br>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-1">
            {% if article.author.profile.profile_pic %}
                <img src="{{article.author.profile.profile_pic.url}}" width="170%" height="100%" style="object-fit: cover;">
            {% else %}
            <img src="{% static 'blogcodemy/images/images.png' %}" width="170%" height="100%" style="object-fit: cover;">
            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{article.author}}</h5>
              <p class="small text-muted">

                {% if article.author.profile.id %}
                    <a href="{% url 'profile' article.author.profile.id %}">
                        Profile
                    </a>
                {% endif %}

                 {% if article.author.profile.linkedin_url %}
                    |<a href="{{article.author.profile.linkedin_url}}">
                        LinkedIn
                    </a>
                 {% endif %}

                 {% if article.author.profile.codechef_url%}
                    |<a href="{{article.author.profile.codechef_url}}">
                        Codechef
                    </a>
                 {% endif %}

                 {% if article.author.profile.codeforces_url %}
                 |<a href="{{article.author.profile.codeforces_url}}">
                    Codeforces
                 </a>
                 {% endif %}
                </p>
              <p class="card-text">{{article.author.profile.bio}}</p>
            </div>
          </div>
        </div>
      </div>
      <br>
    <h2>Comments</h2>
    <a href="{% url 'add_comment' article.id %}"> Add A Comment </a>
    <br>
    <br>
    {% if not article.comments.all %}
        <h6>No Comments Yet</h6>
    {% else %}
        {% for comment in article.comments.all%}
            <strong>{{comment.name_of_user}}-{{comment.date_added}}</strong>
            <br>
            {{comment.body}}<br><br>
        {% endfor %}
    {% endif %}
    <br>
{% endblock %}